mixin features(data)
    section.features
        .container
            .row
                .col-md-6.features__item
                    span.features__pic.features__pic_lock
                    h3.features__heading Real-time all the time
                    p.features__text Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you. 
                    p.features__text Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
                .col-md-6.features__item
                    span.features__pic.features__pic_clock
                    h3.features__heading Adopt without any obstacles
                    p.features__text This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said. 
                    p.features__text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.