.features {
  padding-top: 120px;
  padding-bottom: 23px;
  @media(max-width: $screen-xs-max){
    padding-top: 80px;
  }
  &__wrap{
      padding-bottom: 65px;
      border-bottom: 1px solid #f4f4f4;
  }
  &__item {
    margin-bottom: 60px;
    padding: 0 30px;
    @media (max-width: $screen-md-max) {
      padding: 0;
    }
  }
  &__pic {
    display: block;
    width: 52px;
    height: 52px;
    &_lock {
      background: url(%=static=%assets/features/lock.png) left bottom no-repeat;
    }
    &_clock {
      background: url(%=static=%assets/features/clock.png) left bottom no-repeat;
    }
  }
  &__title {
    margin: 42px 0 36px;
  }
  &__text {
    margin-bottom: 28px;
    font-size: 18px;
  }
}
