.main-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 43px 0;
    transition: all 0.5s;
    background-color: transparent;
    &_is-active{
        padding: 24px 0;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    }

    &__logo{
        display: block;
        margin-top: 14px;
        margin-right: auto;
        margin-left: auto;
    }

    &__menu{
        padding-right: 0;
        padding-left: 0;
        list-style-type: none;
        font-size: 0;

        &_left{
            margin-left: 44px;            
        }
        &_right{
            text-align: right;
        }
    }

    &__ham{
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -20px;
        i {
            display: inline-block;
        }
    }

    &__menu-item {
        display: inline-block;
        margin-right: 30px;
        font-size: 16px;
        &:last-child{
            margin-right: 0;
        }
        a {
            display: block;
            line-height: 42px;
        }
        &_help{
            a{
                color: #b5b5b6;
            }
        }               
    }


    &__slide{
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 100;
        background-color: pink;
        left: 0px;
        width: 360px;
        overflow-y: auto;
    }
    &__slide-content{
        min-height: 100%;
        margin-bottom: -100px;
    }
    &__buffer{
        height: 100px;
    }
    &__slide-footer{
        height: 100px;
    }
    &__slide-wrapper{
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
    }
    &__slide-close{
        position: absolute;
        right: 20px;
    }
    &__slide-item{
        font-size: 16px;
    }
}
