include ../partners/partners.pug

mixin everywhere(data)
  section.everywhere
    .container
      .row
        .col-md-5
          h2.everywhere__heading We are almost everywhere
          p.everywhere__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
          p.everywhere__text Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
          +partners()
      img.everywhere__pic(src="%=static=%img/assets/everywhere/world_map.jpg")