.everywhere {
  position: relative;
  overflow: hidden;
  padding-top: 105px;
  padding-bottom: 105px;
  @media(max-width: $screen-sm-max) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &__heading {
    margin-bottom: 57px;
  }
  &__text {
    margin-bottom: 28px;
  }
  &__pic {
    position: absolute;
    top: 121px;
    left: 47%;
    @media (max-width: $screen-sm-max) {
      position: static;
      display: block;
      width: 100%;
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
      padding: 0 15px;
    }
  }
}
