mixin interface(data)
    section.interface
        .container
            .row
                .col-md-12.text-center
                    h2.interface__heading Beautiful Interface
                    hr.interface__line
                    h4.interface__text Landing screen
        ul.interface__showcase-wrapper
            li.interface__showcase-item: img(src="%=static=%img/assets/interface/screen_1.jpg")
            li.interface__showcase-item: img(src="%=static=%img/assets/interface/screen_2.jpg")
            li.interface__showcase-item.interface__showcase-item_main: img(src="%=static=%img/assets/interface/screen_3.png")
            li.interface__showcase-item: img(src="%=static=%img/assets/interface/screen_4.jpg")
            li.interface__showcase-item: img(src="%=static=%img/assets/interface/screen_5.jpg")