mixin interface(data)
  section.interface
    .container
      .row
        .col-md-12.text-center
          h2.interface__title Beautiful Interface
          hr.interface__line
          h4.interface__text Landing screen
    .interface__showcase-wrapper
      img.interface__img-iterface.wow.fadeIn(src="%=static=%img/assets/interface/interface.jpg")