.interface {
  overflow: hidden;
  margin-top: 52px;
  padding: 118px 0 880px;
  background-color: $bg-color;
  @media(max-width: $screen-sm-max){
    padding-bottom: 660px;
  }
  &__heading {
    margin-bottom: 36px;
  }
  &__text {
    color: $plain-text-color;
  }
  &__line {
    width: 48px;
    height: 2px;
    margin: auto;
    margin-bottom: 41px;
    background-color: $accent-color;
  }
  &__showcase-wrapper {
    position: relative;
    margin-top: 15px;
  }
  &__img-iterface {
    position: absolute;
    left: 50%;
    margin-left: -941px;
    @media (max-width: $screen-sm-max) {
      width: 1412px;
      margin-left: -706px;
    }
  }
}
