// GUI stylies of the project
// For example, styles of the links, buttons and so on.
a {
    //font-family: "Lato", Helvetica, Arial, sans-serif;
}

h3 {
    font-family: "Lato light";
}

h4,
b {
    text-transform: uppercase;
    color: $brand-color;
    font: bold 12px sans-serif;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

p {
    margin-bottom: 28px;
}

small{

}

.btn {
    display: inline-block;
    height: 42px;
    padding: 0 20px;
    color: #26272d;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 23px;
    background-color: transparent;
    font-size: 16px;
    line-height: 42px;
    &:hover {
        text-decoration: none;
        color: #26272d;
    }
    &_big {
        height: 50px;
        padding: 0 40px;
        line-height: 50px;
    }
    &_primary {
        color: #fff;
        background-color: $accent-color;
        &:hover {
            color: #fff;
        }
    }
    &_input {
        padding: 0 25px;
        color: #fff;
        background-color: $accent-color-2;
    }
    &_dark {
        color: #fff;
        background-color: #131315;
        &:hover {
            color: #fff;
        }
    }
    &_transparent {
        border: 0;
        &:active {
            outline: none;
            box-shadow: none;
            &:focus {
                outline: none;
            }
        }
        &:focus {
            outline: none;
        }
    }
    &__pic-apple {
        margin-right: 8px;
    }
    &__pic-arrow {
        margin-left: 40px;
    }
}

input {
    height: 50px;
    padding: 16px 150px 16px 26px;
    border: 1px solid rgba(38, 39, 45, 0.2);
    border-radius: 30px;
    background-color: transparent;
    font-size: 16px;
}
