mixin social-icons(data)
    ul.social-icons.clearfix
        li.social-icons__item: a(href="#")
            i.fa.fa-twitter
        li.social-icons__item: a(href="#")
            i.fa.fa-facebook
        li.social-icons__item: a(href="#")
            i.fa.fa-google-plus
        li.social-icons__item: a(href="#")
            i.fa.fa-tumblr
        li.social-icons__item: a(href="#")
            i.fa.fa-pinterest-p
        li.social-icons__item: a(href="#")
            i.fa.fa-linkedin