.protect {
  position: relative;
  overflow: hidden;
  padding-top: 218px;
  padding-bottom: 318px;
  @media (max-width: $screen-sm-max){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: 65px;
  }
  &__text {
    margin-bottom: 28px;
  }
  a.btn {
    margin-top: 43px;
    margin-right: 20px;
  }
  &__img-wrapper {
    position: relative;
    z-index: 200;
  }
  &__pic {
    position: absolute;
    right: 46%;
    bottom: 31px;
    @media (max-width: $screen-sm-max) {
      position: static;
      width: 100%;
      margin-top: 62px;
      margin-right: auto;
      margin-left: auto;
      padding: 0 15px;
    }
  }
}
