mixin protect(data)
  section.protect
    .container
      .row
        .col-md-5.col-md-offset-7
          h2.protect__title Your day <br>is protected
          p.protect__text There have not been any since we have lived here, said my mother. 
          p.protect__text We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while. 
          
          a.btn.btn_primary.protect__btn(href="#") 
            | Try to hack us
            i.fa.fa-arrow-right.btn__pic-arrow
          a.btn Learn more

        
        img.protect__pic.wow.fadeInLeft(src="%=static=%img/assets/protect/iphone_protect.jpg", data-wow-delay="0.1s")