mixin reviews(data)
  section.reviews
    .container
      .row      
        .col-md-8.col-md-offset-2.text-center
          .reviews__wrapper
            #carousel-example-generic.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#carousel-example-generic", data-slide-to="0")
                  img.reviews__img(src="%=static=%img/assets/reviews/33.jpg" alt="синий чувак")
                li(data-target="#carousel-example-generic", data-slide-to="1")
                  img.reviews__img(src="%=static=%img/assets/reviews/12.jpg" alt="синий чувак")
                li(data-target="#carousel-example-generic", data-slide-to="2")
                  img.reviews__img(src="%=static=%img/assets/reviews/16.jpg" alt="синий чувак")

              
              .carousel-inner(role="listbox") 
                .item.active
                  .reviews__item-wrapper
                    h3.reviews__item-header New Providence is the great UI kit 
                    p.reviews__item-text “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .reviews__item-rating
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star
                    h4.reviews__customer-name Cameron Dowman
                .item
                  .reviews__item-wrapper
                    h3.reviews__item-header New Providence is the great UI kit 
                    p.reviews__item-text “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .reviews__item-rating
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star
                    h4.reviews__customer-name Cameron Dowman
                .item
                  .reviews__item-wrapper
                    h3.reviews__item-header New Providence is the great UI kit 
                    p.reviews__item-text “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
                    .reviews__item-rating
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star.gold-star
                      i.fa.fa-star
                    h4.reviews__customer-name Cameron Dowman

              a.left.carousel-control(href="#carousel-example-generic", role="button" data-slide="prev")
                .reviews__arrow-left(aria-hidden="true")
                span.sr-only Prev
              a.right.carousel-control(href="#carousel-example-generic", role="button" data-slide="next")
                .reviews__arrow-right(aria-hidden="true")
                span.sr-only Next