.reviews {
  padding-top: 131px;
  padding-bottom: 116px;
  &__slider {
    position: relative;
  }
  &__wrapper {
    margin-right: 0;
    margin-left: 0;
    @media (min-width: $screen-sm-min) {
      margin-right: 56px;
      margin-left: 56px;
    }
  }
  .carousel-indicators {
    position: relative;
    z-index: 3;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    // margin-right: 12px;
    margin-left: 0px;
    text-align: justify;
    font-size: 0;
    &:after {
      display: inline-block;
      width: 100%;
      content: '';
    }
    li {
      width: 130px;
      // display: inline-block;
      max-width: 30%;
      height: auto;
      margin: 0;
      transition: all 0.97s cubic-bezier(0.545, 0, 0.05, 1);
      transform: scale(0.7);
      border: none;
      &.active {
        transform: scale(1);
        img {
          box-shadow: 14px 38px 40px 0px rgba(92, 95, 101, 0.28);
        }
      }
      img.reviews__img {
        display: block;
        max-width: 100%;
        border-radius: 100%;
      }
    }
  }
  &__item-wrapper {
    padding-top: 40px;
  }
  &__item-header {
    margin-bottom: 42px;
    font-size: 32px;
  }
  &__item-text {
    margin-bottom: 22px;
  }
  &__item-rating {
    margin-bottom: 59px;
    font-size: 24px;
    & > .fa-star {
      margin-right: 4px;
      margin-left: 4px;
    }
    .gold-star {
      color: #f2bc3b;
    }
  }
  .carousel-control {
    width: 42px;
    height: 42px;
    color: $plain-text-color;
    background: none;
    font-size: 70px;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    &.left {
      top: 46px;
      left: -40%;
    }
    &.right {
      top: 46px;
      right: -40%;
    }
  }
  &__arrow-left {
    @include bg-svg($arrow_left);
  }
  &__arrow-right {
    @include bg-svg($arrow_right);
  }
}
