.header {
  position: relative;
  overflow: hidden;
  padding-top: 175px;
  padding-bottom: 510px;
  background-color: #f4f4f5;
  background-image: url(%=static=%assets/header/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media(max-width: $screen-xs-max) {
    padding-bottom: 410px;
  }
  &__title {
    line-height: 1.1;
  }
  &__text {
    max-width: 780px;
    margin: 33px auto 0;
  }
  &__btn {
    margin-top: 59px;
    background-color: #eef0f2;
    &:focus{
      color: $brand-color;
    }
  }
  &__phone {
    position: absolute;
    bottom: -393px;
    left: 50%;
    margin-left: -227px;
    @media (max-width: $screen-xs-max) {
      bottom: -280px;
      width: 352px;
      margin-left: -165px;
    }
  }
}
