mixin subscribe(data)
  section.subscribe
    .container
      .row
        .col-md-12
          h2.subscribe__title Subscribe our newsletters
          form.subscribe__form-wrapper
            input.subscribe__input(type="email", placeholder="Your e-mail")
            button.btn.btn_input Subscribe
          p.subscribe__small-text We promise to never spam you.
