mixin social_icons(data)
    ul(class = data.wrap).clearfix
        li(class = data.item): a(href="#")
            i.fa.fa-twitter
        li(class = data.item): a(href="#")
            i.fa.fa-facebook
        li(class = data.item): a(href="#")
            i.fa.fa-google-plus
        li(class = data.item): a(href="#")
            i.fa.fa-tumblr
        li(class = data.item): a(href="#")
            i.fa.fa-pinterest-p
        li(class = data.item): a(href="#")
            i.fa.fa-linkedin