.get-it {
  padding: 90px 0 132px;
  background-color: $bg-color;
  @media(max-width: $screen-sm-max){
    padding-top: 60px;
  }
  &__subtitle {
    display: block;
    color: $plain-text-color;
    span {
      font-weight: normal;
    }
  }
  &__title {
    margin-top: 29px;
    margin-bottom: 45px;
  }
  &__form {
    position: relative;
    width: 502px;
    max-width: 100%;
    margin: 0 auto 64px;
    input {
      width: 502px;
      max-width: 100%;
      padding-right: 176px;
      @media(max-width: $screen-sm-max){
        padding-right: 26px;
      }

    }
    button {
      position: absolute;
      top: 4px;
      right: 5px;
      i {
        margin-left: 20px;
      }
      @media(max-width: $screen-sm-max){
        position: relative;
        top: 0;
        right: 0;
        margin-top: 18px;
      }
    }
  }
  &__download-app {
    height: 60px;
    margin-top: 21px;
    padding: 0 36px 0 26px;
    border-radius: 30px;
    font-size: 12px;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 10px;
    }
    b {
      display: inline;
      text-transform: none;
      color: #fff;
      font-size: 23px;
      font-weight: normal;
    }
    i.fa-apple {
      position: relative;
      bottom: 2px;
      display: inline-block;
      margin-right: 16px;
      vertical-align: middle;
      font-size: 30px;
    }
  }
}
