mixin get-it(data)
  section.get-it
    .container
      .row
        .col-md-8.col-md-offset-2.text-center
          b.get-it__subtitle New 
            span Providence
          h2.get-it__title Get it to your smartphone
            
          form(action).get-it__form            
            input(type="email", placeholder="your@email.com")
            button.btn.btn_input(href="#") Send Invite
              i.fa.fa-arrow-right

          b.get-it__subtitle Or download from
          button.btn.btn_dark
            i.fa.fa-apple
            span Download on the <br>
              b App Store
