.plan{
  &__toggle-wrapper{

    &:after{
      display: none;
    }
  }
  &__btn-individual_active{
    font-weight: bold;
  }
  &__btn-company_active{
    font-weight: bold;
  }  
  &__service{
    @media (min-width: $screen-lg-min) {
      max-width: 50%;
    }
  }
}