mixin partners(data)
    article.partners
        h4.partners__heading Partners
        ul.partners__list
            li.partners__list-item: a(href="#")
                img(src="%=static=%img/assets/partners/dropbox_logo.png")
            li.partners__list-item: a(href="#")
                img(src="%=static=%img/assets/partners/evernote_logo.png")
